// CLUB-CONTENT

//  header.club-main-content .profile-content .name::before {
//   content: " ";
//   top: -2%;
//   left: -2%;
//   width: 31px;
//   height: 31px;
//   position: absolute;
//   background-size: 31px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-image: url(../assets/img/profile.png);
// }

// .notification-icon::after {
//   content: "";
//   top: 13%;
//   width: 8px;
//   right: 12%;
//   height: 8px;
//   border-radius: 50%;
//   position: absolute;
//   display: none;
//   background-color: #dc2626;

//   @media (min-width: 640px) {
//     display: block;
//   }
// }

// DASHBOARD-CONTENT

// .dashboard-card::after {
//   content: "";
//   top: 0%;
//   left: 54%;
//   width: 500px;
//   height: 200px;
//   position: absolute;
//   display: none;
//   background-repeat: no-repeat;
//   background-image: url(../assets/img/league-background-img.png);

//   @media (min-width: 640px) {
//     display: block;
//   }
// }

// LEAGUE-MATCHES

// .input-field::before {
//   content: "";
//   left: 6%;
//   top: 40%;
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   background-repeat: no-repeat;
//   background-image: url(../assets/img/search.png);
// }

// POPUP

.switch {
  height: 2em;
  width: 3.5em;
  font-size: 10px;
  position: relative;
  display: inline-block;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #acc8e5;

}


.slider:before {
  content: "";
  left: 0;
  bottom: 0;
  width: 1.9em;
  height: 1.9em;
  transition: 0.4s;
  position: absolute;
  border-radius: 20px;
  background-color: #acc8e5;
}

input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  background-color: #fff;
  transform: translateX(1.4em);
}

