<!-- <div>

  <div class="main-content grid grid-cols-12 min-h-screen">

    <div class="sidebar col-span-12 md:col-span-3 lg:col-span-2 py-4 bg-[#acc8e5]">
      <div class="sidebar-title flex justify-center mt-5 mb-10">
        <img src="../assets/img/logo.png" alt="logo">
      </div>
      <nav>
        <ul class="space-y-5">
          <li class="flex items-center space-x-4 py-3 cursor-pointer mb-1 hover:bg-[#ffffff80]">
            <img src="../assets/img/dashboard.png" alt="Dashboard" class="h-5 ml-8">
            <a href="#" class="hover:text-blue-500 text-xs  md:text-sm lg:text-base text-[#41678d]">Dashboard</a>
          </li>
          <li class="flex items-center space-x-4 py-3 cursor-pointer mb-1 bg-[#ffffff80]">
            <img src="../assets/img/league.png" alt="League" class="h-5 ml-8">
            <a href="#" class="hover:text-blue-500 text-xs md:text-sm lg:text-base font-semibold">League</a>
          </li>
          <li class="flex items-center space-x-4 py-3 cursor-pointer mb-1 hover:bg-[#ffffff80]">
            <img src="../assets/img/series.png" alt="Series" class="h-5 ml-8">
            <a href="#" class="hover:text-blue-500 text-xs md:text-sm lg:text-base text-[#41678d]">Series</a>
          </li>
          <li class="flex items-center space-x-4 py-3 cursor-pointer mb-1 hover:bg-[#ffffff80]">
            <img src="../assets/img/reminder.png" alt="Reminder" class="h-5 ml-8">
            <a href="#" class="hover:text-blue-500 text-xs md:text-sm lg:text-base text-[#41678d]">Schedule /
              Reminder</a>
          </li>
          <li class="flex items-center space-x-4 py-3 cursor-pointer mb-1 hover:bg-[#ffffff80]">
            <img src="../assets/img/setting.png" alt="Setting" class="h-5 ml-8">
            <a href="#" class="hover:text-blue-500 text-xs md:text-sm lg:text-base text-[#41678d]">Setting</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="club-main-content col-span-12 md:col-span-9 lg:col-span-10 bg-[#f3f3f3]">
      <div class="header bg-white sm:flex-row p-5 flex justify-between">
        <div class="club-content gap-4 flex items-center">
          <img src="../assets/img/toggle.png" alt="toggle"
            class="toggle-icon border border-[#00000040] rounded-full p-2">
          <img src="../assets/img/cricket-logo.png" alt="cricket-logo" class="profile-icon">
          <div class="profile-name text-sm font-semibold text-sm md:text-base">CLUB NAME</div>
          <img src="../assets/img/arrow-up.png" alt="arrow-up" class="arrow-up-icon">
        </div>
        <div class="profile-content gap-4 flex items-center">
          <img src="../assets/img/add-icon.png" alt="add-icon" class="hidden sm:block">

          <div class="notification-icon relative">
            <img src="../assets/img/notification.png" alt="notification"
              class="border hidden sm:block border-gray-300 rounded-full p-2">
          </div>

          <div
            class="name hidden sm:block border border-gray-300 rounded-2xl px-10 py-1 flex relative sm:text-xs md:text-sm md:py-1 sm:pt-2">
            name</div>
        </div>
      </div>



      <div class="dashboard grid grid-cols-10 p-5">
        <div class="dashboard-content col-span-10 lg:col-span-7 overflow-hidden">
          <p class="mb-3 text-[#797979] text-xs"> Dashboard / League </p>
          <div class="dashboard-card relative bg-white mt-3 mb-6 py-7 lg:py-5 rounded-md sm:py-7 px-10 border-1 border-[#acc8e5]">
            <p class="text-xs lg:text-base">Get started with Crickteam,</p>
            <p class="text-xs lg:text-base"> Start add new league by clicking the button below</p>
            <button class="py-2 px-8 mt-5 text-white text-sm font-semibold bg-[#4f46e5] font-normal lg:font-semibold">+ ADD
              LEAGUE</button>
          </div>
          <div
            class="league-empty flex text-center justify-center items-center rounded-md border-1 border-dashed border-[#acc8e5]">
            <p class="py-9 text-xs">No leagues available</p>
          </div>
        </div>
        <div class="league-matches col-span-10 lg:col-span-3 mt-7 ml-5">
          <div class="league-matches-content h-[550px] bg-white rounded-md py-6 px-10 border-1 border-[#0000001A]">
            <div class="flex justify-between">
              <p class="font-semibold text-sm lg:text-base lg:mr-3">League Matches</p>
              <div class="year flex items-center cursor-pointer">
                <p class="text-lg font-semibold text-[#797979] text-sm font-medium">Year</p>
                <img src="../assets/img/down-arrow.png" alt="down-arrow" class="h-[10px] mt-1 ml-4">
              </div>
            </div>
            <div class="input-field relative">
              <input type="text" placeholder="Search...."
                class="search-input my-5 pl-15 text-[#797979] bg-[#eaf1f8] rounded-full px-4 py-2 w-full sm:text-xs lg:text-sm ">
            </div>
            <div
              class="flex text-center justify-center items-center rounded-md border-1 border-dashed border-[#acc8e5]">
              <p class="py-6 text-xs px-2">Your League matches are empty</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div> -->

<!--  -->

<!-- <div>


  <body class="bg-[#cdcdcd28] ">

    <div class="popup-main h-screen flex items-center justify-center p-5">
      <div
        class="account-card py-2 px-3 sm:py-6 sm:px-8 md:min-w-2xl lg:min-w-3xl xl:min-w-4xl bg-white min-h-[550px] rounded-xl">
        <div class="flex justify-between items-center">
          <h2 class="sm:text-2xl font-semibold text-lg">My Account</h2>
          <img src="../assets/img/remove.png" alt="" class="sm:w-4 sm:h-4 w-3 h-3">
        </div>

        <div class="tabs mt-4 whitespace-nowrap">
          <ul class="flex flex-wrap space-x-6 text-sm border-b border-[#ACC8E5] pb-2 sm:pb-0">
            <li><a href="#" class="font-semibold my-3 inline-block text-sm">About You</a></li>
            <li><a href="#" class="my-3 inline-block hover:text-blue-600 font-normal text-[#808080]">Notification</a>
            </li>
            <li><a href="#" class="my-3 inline-block hover:text-blue-600 text-[#808080]">Cricket Profile</a>
            </li>
          </ul>
        </div>
        <div class="grid grid-cols-10">
          <div class="md:col-span-3 col-span-10">
            <div class="flex justify-center items-center mt-10 flex-col gap-4">

              <div class="rounded-full bg-[#EAF1F8] flex items-center justify-center w-24 h-24">
                <img src="../assets/img/camera-.png" alt="camera" class=" cursor-pointer w-6">
              </div>
              <div class="flex items-center">
                <p class="text-[10px] sm:text-xs text-[#808080] mr-3">Anyone can see? </p>
                <span> <img src="../assets/img/earth.png" alt="earth" class="cursor-pointer"></span>
              </div>

            </div>
          </div>
          <div class="md:col-span-7 gap-4 col-span-10">
            <div class="grid grid-5 form-main pt-7 sm:px-10 px-3 md:border-l flex justify-center md:border-[#ACC8E5] ">
              <div class="flex mb-4 items-center mb-4">
                <label class="text-[10px] sm:text-xs  min-w-[100px] sm:min-w-[150px] text-[#00000080]">First
                  Name</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">Anurag</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">Last Name</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">Kashyap</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">Gender</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">Male</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">DOB</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">MM/DD/YYYY</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">Email</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">lorem&#64;gmail.com</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">Mobile No.</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">+1 xxxxxxxxxx</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">Emergency
                  <br>Person Name</label>
                <p class="text-xs sm:text-sm font-medium text-[#00000080]">Full Name</p>
              </div>
              <div class="flex mb-4 items-center">
                <label class="text-[10px] sm:text-xs min-w-[100px] sm:min-w-[150px] text-[#00000080]">Emergency
                  No.</label>
                <div class="flex items-center space-x-2">
                  <p class="text-xs sm:text-sm font-medium text-[#00000080]">+1 xxxxxxxxxx</p>
                  <a href="#" class="text-blue-600 text-sm font-medium hover:underline">+Add</a>
                </div>
              </div>
            </div>
            <div class="form-btn mt-6 sm:mt-8 flex justify-center md:justify-end gap-4">
              <button type="button"
                class="text-[#4F46E5] text-xs sm:text-sm border border-[#4F46E5] py-2 px-7">Cancel</button>
              <button type="button" class="bg-[#4F46E5] text-xs sm:text-sm py-2 px-9 text-white">Save</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</div> -->



<!-- NOTIFICATION -->


<!-- <div class="bg-[#adb1b641]">
  <div class="popup-main h-screen flex justify-center items-center">
    <div class="popup-content md:min-w-2xl lg:min-w-3xl xl:min-w-4xl px-4 m-7 sm:p-6 py-4 bg-white sm:min-h-[500px] ">
      <div class="flex justify-between items-center">
        <h2 class="sm:text-2xl text-sm font-semibold">My Account</h2>
        <img src="../assets/img/remove.png" alt="remove" class="sm:h-4 sm:w-4 h-3 w-3">
      </div>
      <ul class="flex flex-wrap sm:gap-8 border-b border-[#ACC8E5] pb-3 pt-7 gap-4 text-xs sm:text-sm">
        <li class="text-[#00000080]">About You</li>
        <li class="font-semibold">Notification</li>
        <li class="text-[#00000080]">Cricket Profile</li>
      </ul>

      <div class="min-h-[340px]">

        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="md:col-span-1 col-span-3 font-medium text-xs text-[#00000080] whitespace-nowrap">Practice
            Reminder</label>
          <div class="md:col-span-2 col-span-3 flex gap-5 mt-3 md:mt-0">
            <label class="flex items-center space-x-2">
              <input type="radio" name="radio">
              <span class=" text-xs sm:text-sm">Mail</span>
            </label>
            <label class="flex items-center space-x-2">
              <input type="radio" name="radio">
              <span class="text-xs sm:text-sm">Mobile</span>
            </label>
            <label class="flex items-center space-x-2">
              <input type="radio" name="radio">
              <span class="text-xs sm:text-sm">Both</span>
            </label>
          </div>
        </div>
        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="md:col-span-1 col-span-3 font-medium text-xs text-[#00000080] whitespace-nowrap">Match
            Reminder</label>
          <div class="md:col-span-2 col-span-3 flex gap-5 mt-3 md:mt-0">
            <label class="flex items-center space-x-2">
              <input type="radio" name="radio">
              <span class="text-xs sm:text-sm">Mail</span>
            </label>
            <label class="flex items-center space-x-2">
              <input type="radio" name="radio">
              <span class="text-xs sm:text-sm">Mobile</span>
            </label>
            <label class="flex items-center space-x-2">
              <input type="radio" name="radio">
              <span class="text-xs sm:text-sm">Both</span>
            </label>
          </div>
        </div>

        <div class="grid grid-cols-3 pt-5 items-center">

          <label class="md:col-span-1 col-span-3 font-medium text-xs text-[#00000080]">Notifications
            for
            all
            issues</label>
          <div class="md:col-span-2 col-span-3 mt-3 md:mt-0">
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
            </label>
          </div>


        </div>
      </div>
      <div class="form-btn flex gap-4 justify-end">

        <button type="button"
          class="text-xs sm:text-sm text-[#4F46E5] border border-[#4F46E5] py-2 px-4">Cancel</button>
        <button type="button" class="text-xs sm:text-sm text-white bg-[#4F46E5] py-2 px-5">Save</button>

      </div>


    </div>
  </div>
</div> -->




<div class="bg-[#adb1b641]">
  <div class="popup-main h-screen flex justify-center items-center">
    <div class="popup-content sm:min-w-xl md:min-w-2xl lg:min-w-3xl xl:min-w-4xl px-4 m-7 sm:p-6 py-4 bg-white sm:min-h-[500px] ">
      <div class="flex justify-between items-center">
        <h2 class="sm:text-2xl text-sm font-semibold">My Account</h2>
        <img src="../assets/img/remove.png" alt="remove" class="sm:h-4 sm:w-4 h-3 w-3">
      </div>
      <ul class="flex flex-wrap sm:gap-8 border-b border-[#ACC8E5] pb-3 pt-7 gap-4 text-xs sm:text-sm">
        <li class="text-[#00000080]">About You</li>
        <li class="text-[#00000080]">Notification</li>
        <li class="font-semibold">Cricket Profile</li>
      </ul>

      <div class="sm:min-h-[340px]">

        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="sm:col-span-1 col-span-3 font-medium text-xs text-[#00000080] whitespace-nowrap">Batting
            Order</label>
          <div class="sm:col-span-2 col-span-3 flex gap-5 mt-3 sm:mt-0">
            <p class="font-medium text-xs text-[#00000080]">Any</p>
          </div>
        </div>

        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="sm:col-span-1 col-span-3 font-medium text-xs text-[#00000080] whitespace-nowrap">Batting
            Style</label>
          <div class="sm:col-span-2 col-span-3 flex gap-5 mt-3 sm:mt-0">
            <p class="font-medium text-xs text-[#00000080]">Not Specified</p>
          </div>
        </div>

        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="sm:col-span-1 col-span-3 font-medium text-xs text-[#00000080]">Bowling Order</label>
          <div class="sm:col-span-2 col-span-3 mt-3 sm:mt-0">
            <p class="font-medium text-xs text-[#00000080]">Any</p>
          </div>
        </div>

        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="sm:col-span-1 col-span-3 font-medium text-xs text-[#00000080]">Bowling Style</label>
          <div class="sm:col-span-2 col-span-3 mt-3 sm:mt-0">
            <p class="font-medium text-xs text-[#00000080]">Not Bowler</p>
          </div>
        </div>

        <div class="grid grid-cols-3 pt-5 items-center">
          <label class="sm:col-span-1 col-span-3 font-medium text-xs text-[#00000080]">Are you wicket keeper ?</label>
          <div class="sm:col-span-2 col-span-3 mt-3 sm:mt-0">
            <img src="../assets/img/checkbox.png" alt="checkbox">
          </div>
        </div>
      </div>

      <div class="form-btn flex gap-4 justify-end mt-5 sm:mt-0">
        <button type="button"
          class="text-xs sm:text-sm text-[#4F46E5] border border-[#4F46E5] py-2 px-4">Cancel</button>
        <button type="button" class="text-xs sm:text-sm text-white bg-[#4F46E5] py-2 px-5">Save</button>
      </div>

    </div>
  </div>