<!-- SIGN-UP -->

<div class="bg-[#89899c21] min-h-screen flex items-center justify-center">
  <div class="2xl:max-w-6xl xl:max-w-5xl lg:max-w-4xl md:max-w-3xl">

    <div class="grid grid-cols-12 m-4">

      <div class="lg:col-span-3 md:col-span-5 col-span-12 bg-[#ACC8E5]">
        <div class="content py-6 sm:py-15 px-6">
          <img src="../assets/img/crickteam-logo.png" alt="crickteam-logo">
          <h2 class="font-extrabold max-w-[280px] my-8">GET STARTED WITH
            CRICKTEAMS</h2>
          <p class="font-medium text-sm">Create your FREE account & start explore you cricket companion</p>

          <div class="flex my-6 items-center">
            <img src="../assets/img/checkbox-checked.png" alt="" class="h-6 w-6">
            
            <p class="text-[#000000BF] text-xs ml-4">Comprehensive Team Management for crick-life balance</p>
          </div>
          <div class="flex my-6 items-center">
            <img src="../assets/img/checkbox-checked.png" alt="" class="h-6 w-6">
            <p class="text-[#000000BF] text-xs ml-4">Attendance Made Simple, with automated reminders.</p>
          </div>
          <div class="flex my-6 items-center">
            <img src="../assets/img/checkbox-checked.png" alt="" class="h-6 w-6">
            <p class="text-[#000000BF] text-xs ml-4">Instant Annoucements.</p>
          </div>
          <div class="flex my-6 items-center">
            <img src="../assets/img/checkbox-checked.png" alt="" class="h-6 w-6">
            <p class="text-[#000000BF] text-xs ml-4">Player-Centric Cricket History</p>
          </div>
          <div class="radio-container gap-2 flex justify-center items-center mt-8">
            <input type="radio" id="radio-on" name="toggle" class="radio-input" />
            <label for="radio-on" class="radio">
              <span class="circle"></span>
            </label>

            <input type="radio" id="radio-off" name="toggle" class="radio-input" />
            <label for="radio-off" class="radio">
              <span class="circle"></span>
            </label>
          </div>
        </div>
      </div>

      <div
        class="lg:col-span-9 md:col-span-7 col-span-12  bg-white flex items-center justify-center overflow-hidden">

        <div class="sign-up-content relative  sm:pr-14 px-6 py-8">
          <h2 class="sign-up relative">Sign up</h2>
          <p class="text-xs text-[#00000080] mt-4 mb-8">This platform is exclusively designed for <strong
              class="font-bold text-[#00000080]">cricket clubs</strong>, providing them with a dedicated space to
            connect,
            collaborate, and manage their cricketing activities.</p>

          <form action="" class="relative">
            <label for="" class="text-[#00000080] text-xs sm:text-sm">Club / League Name <span
                class="text-red-500">*</span></label>
            <input type="text" placeholder="Enter...."
              class="w-full bg-white outline-none border border-[#ACC8E5] rounded-md px-3 py-2 mb-4 text-[10px] text-[#00000080]">

            <div class="grid grid-cols-4 gap-2 md:gap-4">
              <div class="lg:col-span-2 col-span-4">
                <label for="" class="text-[#00000080] text-xs sm:text-sm">Full Name <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter...."
                  class="w-full bg-white outline-none border border-[#ACC8E5] rounded-md px-3 py-2 mt-1 text-[10px] text-[#00000080]">
              </div>
              <div class="lg:col-span-2 col-span-4">
                <label for="" class="text-[#00000080] text-xs sm:text-sm">Email <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter...."
                  class="w-full bg-white outline-none border border-[#ACC8E5] rounded-md px-3 py-2 mt-1 text-[10px] text-[#00000080]">
              </div>

              <div class="lg:col-span-2 col-span-4">
                <label for="" class="text-[#00000080] text-xs sm:text-sm">City <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter...."
                  class="w-full bg-white outline-none border border-[#ACC8E5] rounded-md px-3 py-2 mt-1 text-[10px] text-[#00000080]">
              </div>
              <div class="lg:col-span-2 col-span-4 relative State-input">
                <label for="" class="text-[#00000080] text-xs sm:text-sm">State<span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter...."
                  class="w-full bg-white outline-none border border-[#ACC8E5] rounded-md px-3 py-2 mt-1 text-[10px] text-[#00000080]">
                <img src="../assets/img/drop-down-icon.png" alt="dropdown" class="absolute top-10 right-3 cursor-pointer">
              </div>
            </div>
            <div class="flex justify-end">
              <button type="" class="mt-10 bg-[#ACC8E5] hover:bg-blue-400 text-white py-2 px-8 transition duration-200">
                SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>